@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100vh;
    margin: 0;
    padding: 0
}

:root {
    --pardus-dark: rgba(57, 99, 119, 1);
    --pardus-dark-alpha: rgba(57, 99, 119, 0.2);
}

@font-face {
    font-family: 'Pardus';
    src: url("./lib/data/pardus.ttf") format("truetype");
}


.pardus-title {
    font-family: Pardus;
}

fieldset {
    border: 2px solid var(--pardus-dark-alpha);
    margin: auto 0.5rem
}

@layer base {



    pre {
        @apply bg-gray-100 p-4 mb-4;
    }

    code {
        @apply font-mono;
    }

    /* Style inline code */
    p code {
        @apply bg-gray-100 px-1 py-0.5 rounded;
    }

    /* Style horizontal rule */
    hr {
        @apply border-t my-8;
    }


    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold leading-tight mt-6 mb-3;
    }

    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-3xl;
    }

    h3 {
        @apply text-2xl;
    }

    h4 {
        @apply text-xl;
    }

    h5 {
        @apply text-lg;
    }

    h6 {
        @apply text-base;
    }

    table {
        @apply border-collapse;
    }

    th,
    td {
        @apply border p-2;
    }

    th {
        @apply font-bold text-left;
    }


    /* Style blockquotes */
    blockquote {
        @apply border-l-4 border-gray-500 italic pl-4 py-2;
    }


    /* Remove default bullet points and add custom bullet points */
    ul {
        @apply list-disc pl-4;
    }

    ol {
        @apply list-decimal pl-10
    }

    li::before {
        @apply inline-block w-4 mr-2 -ml-4;
    }
}